<div [formGroup]="form">
  <div>
    <input type="text" formControlName="name" />
  </div>
  <div>
    <button (click)="addNewAddressGroup()">Add</button>
    <button (click)="deleteEmpty()">Delete</button>
  </div>

  <div
    *ngFor="let addressGroup of form.get('address').controls; let i = index"
    [formGroup]="addressGroup"
  >
    <ng-container [formGroupName]="i">
      form No : {{ i }}
      <div>street <input formControlName="street" /></div>

      <div>city <input formControlName="city" /></div>
      <button (click)="deleteAddressGroup(i)">Delete - {{ i }}</button>
    </ng-container>
  </div>
</div>

<br />
<br />
<br />
<br />
result <br />

<pre
  >{{ form.value | json }}
</pre>
